body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: grey;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: inline-block;
    width: 100%;
    max-width: 83px;
    padding: 10px;
    text-align: center;
}